---
name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build ${{ github.repository }} with Idris2 latest
    runs-on: ubuntu-latest
    env:
      PACK_DIR: /root/.pack
    strategy:
      fail-fast: false
    container: ghcr.io/stefan-hoeck/idris2-pack:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build lib
        run: pack --no-prompt install async
      - name: Build docs
        run: pack --no-prompt typecheck async-docs
      - name: Build examples
        run: pack --no-prompt typecheck async-examples
      - name: Build async-epoll
        run: pack --no-prompt typecheck async-epoll
      - name: Run async tests
        run: pack --no-prompt test async
      - name: Run posix tests
        run: pack --no-prompt test async-posix
      - name: Run epoll tests
        run: pack --no-prompt test async-epoll
      - name: Build async-js
        run: pack --no-prompt typecheck async-js
      - name: Run js tests
        run: |
          apt-get update && apt-get install --yes nodejs
          pack --no-prompt test async-js
